.reviews {
	padding: 9rem 0;
	background-color: #f8f8f0;
}

.reviews-rubine {
	position: absolute;
	margin-left: 109rem;
	margin-top: -7.5rem;
}

.reviews-box {
	margin: 3rem auto;
	display: inline-block;
}

.reviews-block {
	display: inline-block;
	margin: 0.4rem -1rem;
	padding: 3rem;
	border: 1px solid #3eb7b7;
}

.reviews-text {
	padding-top: 1.5rem;
	font-size: 1.7rem;
}

.reviews .media img {
	max-width: 100%;
}

.reviews .media-box {
	display: table;
	height: 10rem;
}

.reviews .media-body_change {
	display: table-cell;
	vertical-align: middle;
	font-family: 'HelveticaNeueCyr_bold', sans-serif;
	font-size: 1.7rem;
}

.ourwork {
	padding: 9rem 0;
}

.ourwork-box {
	padding-top: 3rem;
	text-align: center;
}

.ourwork-img {
	min-height: 15rem;
	margin: 0 auto;
}

.ourwork-text {
	font-size: 1.7rem;
	min-height: 10rem;
	margin-top: 1rem;
}

.questions {
	padding: 5rem 0;
	text-align: center;
}

.questions-link {
	font-family: 'HelveticaNeueCyr_bold', sans-serif;
	font-size: 18px;
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dashed #000000;
}

.questions-link:hover {
	color: #333333;
	border-bottom: 1px dashed #4d4d4d;
	cursor: pointer;
}

.position-1 {
	position: relative;
	left: 4rem;
	z-index: -1;
}

.position-2 {
	position: absolute;
	z-index: -1;
	right: -10rem;
}

.position-3 {
	position: absolute;
	z-index: 1;
	left: -5rem;
}

.position-4 {
	position: absolute;
	z-index: 1;
	right: 10rem;
}