/*1920px*/
@media (max-width:1920px) {
	.reviews-rubine {
		margin-left: 100rem;
		margin-top: -3rem;
		z-index: 1;
		position: absolute;
	}

	.ourwork-rubine {
		position: absolute;
		margin-top: 36.5rem;
		margin-left: -8rem;
	}

	/*1200px*/
	@media (max-width:1200px) {
		html {
			font-size: 9px;
		}

		.box-blue:after {
			-webkit-transform: translateX(94%);
			transform: translateX(94%);
		}
	}

	.reviews-rubine {
		margin-top: -3rem;
		margin-left: 100rem;
		z-index: 1;
		position: absolute;
	}

	.header_blue-line {
		margin-left: 0rem;
	}

	/*992px*/
	@media (max-width:992px) {
		html {
			font-size: 8px;
		}

		.popup-header {
			font-size: 16px;
		}

		.form-text {
			font-size: 11px;
		}

		.main-img_item-1 {
			margin-top: 6rem;
			max-width: 50%;
		}

		.main-img_item-2 {
			max-width: 45%;
		}

		.info-block {
			margin-top: 2rem;
		}

		.info-block_item-2 {
			max-width: 100%;
			position: relative;
			top: 0rem;
		}

		.info-equipment {
			margin-bottom: 14rem;
		}

		.info-equipment_item {
			bottom: -10rem;
		}

		.info-equipment_change {
			margin-left: -4rem;
		}

		.capability-body {
			position: relative;
			top: 3rem;
		}

		.box-blue:after {
			border-width: 4.8rem 0 4.8rem 2rem;
			-webkit-transform: translateX(93%);
			transform: translateX(93%);
		}

		.central-other ul li {
			font-size: 12px;
		}

		.central-other ul li:nth-child(1) {
			margin-right: 5rem;
		}

		.things-item {
			min-height: 23rem;
		}

		.things-text {
			min-height: 5rem;
		}

		.border-circle {
			border-width: 5px;
		}

		.circle {
			width: 3.5rem;
			height: 3.5rem;
			line-height: 1;
			-webkit-transform: translate(20%, 20%);
			transform: translate(20%, 20%);
		}

		.application-box {
			height: 14rem;
		}

		.compatibility-img_wrapper {
			margin-top: 5.5rem;
		}

		.compatibility-block {
			text-align: center;
		}

		.compatibility-block_2 {
			padding-left: 0rem;
		}

		.ourwork-img {
			min-height: 20rem;
			margin: 0 auto;
		}

		.ourwork-rubine {
			position: absolute;
			margin-top: 73rem;
		}

	}

	/*767px*/
	@media (max-width:767px) {
		html {
			font-size: 7px;
		}

		.header {
			font-size: 19px;
			margin-left: 1rem;
		}

		.main {
			overflow: hidden;
		}

		.main-wrapper {
			margin-top: 5rem;
		}

		.main-header {
			text-align: center;
		}

		.main-header-logo h4 {
			font-size: 12px;
		}

		.main-header-logo img {
			max-width: 20%;
		}

		.main-header-contact {
			font-size: 15px;
		}

		.main-header-contact a {
			display: inline-block;
			margin-left: 2rem;
			font-size: 18px;
		}

		.main-img_item-1 {
			margin-left: 0rem;
		}

		.main-img_item-2 {
			max-width: 60%;
			right: -8rem;
		}

		.main-title {
			font-size: 15px;
		}

		.main-title span {
			font-size: 17px;
		}

		.popup-header {
			font-family: 'HelveticaNeueCyr_roman', sans-serif;
			font-size: 11px;
			margin-bottom: 0;
		}

		.popup-content {
			padding-left: 35px;
			padding-right: 35px;
		}

		.form-select {
			display: none;
		}

		.form-text {
			font-size: 7.7px;
		}

		.info-block_item-2 {
			display: block;
			margin: 0 auto;
		}

		.info-equipment {
			margin-bottom: 2.5rem;
		}

		.info-equipment_item {
			position: static;
		}

		.info-equipment_header {
			font-size: 17px;
		}

		.info-equipment_change {
			margin-left: 0;
		}

		.info-equipment_body {
			min-height: 14rem;
		}

		.button_change {
			font-size: 10px;
		}

		.capability_change {
			padding: 0;
		}

		.capability-img {
			text-align: center;
			max-width: 90%;
		}

		.capability-body {
			margin: 4rem auto;
		}

		.box-blue:after {
			border-width: 3.5rem 0 3.5rem 2rem;
			right: 0;
			-webkit-transform: translateX(100%);
			transform: translateX(100%);
		}

		.central-other_change {
			margin-top: 3rem;
			text-align: center;
		}

		.mobile-disenable {
			display: none;
		}

		.mobile-enable {
			display: block;
		}

		.things-item {
			min-height: 27rem;
		}

		.things-text {
			min-height: 10rem;
			font-size: 12px;
		}

		.border-circle {
			width: 7rem;
			height: 7rem;
		}

		.circle {
			-webkit-transform: translate(30%, 30%);
			transform: translate(30%, 30%);
		}

		.application-box {
			text-align: center;
			height: auto;
		}

		.application-box img {
			max-width: 60%;
		}

		.application-box_change {
			padding-left: 5rem;
		}

		.application-box_change img {
			max-width: 75%;
		}

		.application-text {
			margin-left: 4rem;
			margin-right: 4rem;
		}

		.reviews .media-body_change {
			font-size: 15px;
		}

		.reviews .media-box {
			height: 12rem;
		}

		.questions-link {
			font-size: 14px;
		}

		.footer .main-header {
			padding: 4rem;
		}

		.footer-tel {
			font-size: 25px;
		}

		.footer-link {
			margin: 3rem 0;
		}

		.circle-number {
			font-size: 3rem;
		}

		.header_hows {
			text-align: center;
		}
	}

	/*419px*/
	@media (max-width:419px) {
		html {
			font-size: 5.9px;
		}

		.main-img_item-1 {
			max-width: 60%;
		}

		.box-blue:after {
			border-width: 3.5rem 0 3.5rem 2rem;
			right: 0;
			-webkit-transform: translateX(94%);
			transform: translateX(94%);
		}

		.central-other_change ul li {
			font-size: 10px;
		}

		.border-circle {
			height: 7rem;
			width: 7rem;
		}

		.circle {
			-webkit-transform: translate(25%, 25%);
			transform: translate(25%, 25%);
		}

		.reviews .media-body_change {
			font-size: 12px;
		}

		.header_hows {
			text-align: center;
		}
	}

	/*358px*/
	@media (max-width:358px) {
		html {
			font-size: 5.1px;
		}

		.video .header {
			font-size: 19px;
		}

		.reviews .media img {
			max-width: 140%;
		}

		.circle {
			margin-left: 0.4rem;
			width: 3.1rem;
		}

		.header_hows {
			text-align: center;
		}
	}
}